html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1520px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.layout-root {
  padding: 10px 100px;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.ant-skeleton-button.ant-skeleton-button-sm {
  height: 20px !important;
}

.ant-wave {
  display: none
}